.convertPostion {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}

.inputConvert {
  /* width: 100%; */
  padding: 12px 20px;
  margin: 0 8px 0;
  box-sizing: border-box;
}

.selectConvert {
  /* width: 100%; */
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}